.titulo-principal-unit {
    color: #17529C;
    font-weight: bold;
    position: absolute;
    font-size: 2.5vw;
    z-index: 100;
    text-align: left;
    line-height: 1.2;
    top: 9.9rem;

}

.titulo-principal-unit span {
    display: block;
    font-size: 2vw;
    font-weight: normal;
    margin-top: .7rem;
}

.mb-1-5 {
    margin-bottom: 1.5rem;
}

.mh-table {
    background-color: red;
}

@media screen and (max-width:1400px) {
    .titulo-principal-unit {
        top: 6rem;
    }
}

@media screen and (max-width: 991px) {
    .titulo-principal-unit {
        top: 2rem;
    }
}

@media screen and (max-width: 767px) {
    .titulo-principal-unit {
        top: 3.5rem;
        padding-left: 0;
        font-size: 6vw;
    }

    .titulo-principal-unit span {
        font-size: 5vw;
    }
}

footer {
    margin-top: 0 !important;
}


p,
input,
label,
ul,
ol {
    font-size: 1.125rem;
    margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {

    p,
    input,
    label,
    ul,
    ol {
        font-size: 1.3125rem;
        margin-bottom: 2rem;
    }

}

@media screen and (max-width: 767px) {

    p,
    input,
    label,
    ul,
    ol {
        font-size: 1.125rem !important;
        margin-bottom: 1rem !important;
    }

    .titulo-principal-unit {
        font-size: 6vw;

    }



    .subtitulo-secundari-unit {
        font-size: 5vw;
    }
}

.cuadro-rosa-degree {
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
    background: linear-gradient(90deg, #FFF 0%, #fde0d6 50%);
    border-radius: 8px;
}


.mySwiper2 .swiper-slide:nth-child(1n) {
    background-color: #e7eff7 !important;
}

.mySwiper2 .swiper-slide:nth-child(2n) {
    background-color: #f7f6f6 !important;
}

.bg-movil-swiper {
    background-color: #e7eff7 !important;
    border-radius: 8px;
}

.bg-faqs-movil {
    background-color: #f7f6f6 !important;
    border-radius: 8px;
}

.swiper {
    width: 90%;
    height: 400px;
    box-shadow: 1px 1px 11px -1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 1px 11px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 11px -1px rgba(0, 0, 0, 0.75);
}

.mySwiper2 .swiper-wrapper {
    height: 450px !important;
}

@media screen and (max-width: 1340px) {
    .swiper {
        width: 80%;
        height: 500px;
    }
}

@media screen and (max-width: 1199px) {
    .swiper {
        width: 80%;
        height: 550px;
    }
}

@media screen and (max-width: 991px) {
    .swiper {
        width: 79%;
        height: 600px;
    }
}

.swiper-slide {
    display: flex !important;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-weight: normal;
    color: #000;
    height: 87% !important;
    padding: 2rem;
}

.text-grey {
    color: #393E41;
    font-weight: 700;
    position: absolute;
    right: 6%;
    bottom: 1rem;
}

.section-activity {
    background: linear-gradient(180deg, #e7eff7 0%, #fff 70%);
}

/* EVALUACIÓN */


.evaluacion-3_1 select {
    border: none !important;
}

.Activity_select {
    background-color: #E7EFF7;
    padding: 0 2rem 2rem;
    width: 70%;
    margin: auto;
    position: relative;
    border-radius: 5px;
}

.cont_letter {
    background-color: #0051a0;
    width: 40px;
    height: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 45%;
    font-weight: bold;
}

.select_opa50 {
    display: flex;
    justify-content: center;
    width: 80%;
    border-bottom:
        2px solid #17529C;
    margin: auto;
    min-height: 60px;
}

.format_select_opa50 {
    display: flex;
    gap: .5rem;
    /* background-color: red; */
}

.p_format {
    background-color: #17529C;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    min-width: 40px;
    pad: .5rem;
    height: 30px;
    border-radius: 40px;
}

.second_selectop50 {
    width: 500px !important;
}

.separation {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.custom-select2 {
    width: 200px;
    border: 2px solid #17529C !important;
    display: inline;
}

.bg-white-eval {
    padding: 1em;
    border-bottom: 1.5px solid #17529c;
    border-right: 1.5px solid #17529c;
    background-color: white;
}

.bg-azul-eval {
    padding: 1em;
    border-top: 1.5px solid #17529c;
    border-bottom: 2.5px solid #17529c;
    border-right: 1.5px solid #17529c;
    background-color: #e5f1e6;
}


.bg-azul-eval select {
    background-color: #e5f1e6;
}

.border-right-less {
    border-right: none !important;
}

.form-control {
    font-size: 1.3125rem;
    text-align: center !important;
    border: none;
}

.form-control .is-invalid {
    border-color: 2px solid #dc3545 !important;
    padding-right: calc((1em + .75rem) * 3 / 4 + 1.75rem);
}


.form-control .is-valid {
    border-color: 2px solid #28a745 !important;
    padding-right: calc((1em + .75rem) * 3 / 4 + 1.75rem);
}

.form-control.is-valid,
.was-validated .form-control:valid {
    border: 2px solid #28a745 !important;
    padding-right: calc(1.6em + -2.25rem);
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%2314a44d' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3E%3C/svg%3E") !important;
    background-repeat: no-repeat;
    background-position: right calc(.8em + .1875rem) center;
    background-size: calc(.8em + .375rem) calc(.8em + .375rem);
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
    border: 2px solid #dc3545 !important;
    padding-right: calc(1.6em + -2.25rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23dc3545' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E") !important;
    background-repeat: no-repeat;
    background-position: right calc(.8em + .1875rem) center;
    background-size: calc(.8em + .375rem) calc(.8em + .375rem);
}

.form-control.is-valid,
.was-validated .form-control:valid {
    margin-bottom: 0rem;
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
    margin-bottom: 0rem;
}

.btn-descarga {
    background: #372E5C;
    color: #fff;
    border: 0.125rem solid #372E5C;
    margin: 0 0 0 0.5em;
    font-size: 1.3125rem;
    width: 10rem;
    padding: 0.65rem 0.5rem;
    min-height: 0 !important;
    border-radius: 6px;
}

.btn-descarga:hover {
    background: #fff;
    color: #372E5C;
    border: 0.125rem solid #372E5C;
}

.layout-participle-form .border-right {
    border-right: 2px solid #0051a0 !important;
}

@media screen and (max-width: 1199px) {
    .select_opa50 {
        width: 95%;
    }

    .format_select_opa50 {
        /* background-color: red; */
        width: 100%;
    }
}

@media screen and (max-width: 991px) {
    .second_selectop50 {
        width: 100% !important;
    }

    .layout-participle-form {
        width: 90%;
        margin: 2rem auto;
    }
}

.layout-participle-form .bg-azul {
    background-color: #17529C;
    color: white;
    /* background-color: #91c0fa48; */
    /* color: #17529C; */
    padding: 0.5rem;
    font-weight: bold;
}

.azul-claro {
    background-color: #E7EFF7;
    color: #0051A0;
    padding: 0.5rem;
    font-weight: bold;
}

.nouns {
    display: flex;
    align-items: center;
    background-color: white;
    border-bottom: 2px solid #17529C;
}

.layout-participle-form .audio {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.layout-participle-form .texto {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    color: black;
    min-height: 95px;
    /* display: flow-root; */
    /* justify-content: center;
    align-items: center; */
}

.flx-rot {
    display: flow-root !important;
    justify-content: center;
    align-items: center;
}

.layout-participle-form .border-right {
    border-right: 2px solid #17529C !important;
}

.min_h_table {
    min-height: 900px !important;
}

.padd-L_Resp {
    padding-left: 1.5rem;
}

.layout-participle-form .padd_table {
    padding: 2rem !important;
}

.section_opa48 {
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.wselect_opa48 {
    width: 27%;
}

.line_opa50 {
    width: 77%;
    height: 2px;
    background-color: #17529C;
    margin: 2rem auto;
}

.order_opa50 {
    /* background-color: rgb(60, 151, 231); */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: .5rem;
}

.section_lineOpa50 {
    /* background-color: blanchedalmond; */
    width: 30%;
    display: flex;
    justify-content: left;
    gap: .5rem;
    align-items: center;
}

.paddLeft-2rem {
    padding-left: 2rem;
}

.orientacion_opa50 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.padd1_3 {
    padding-left: 1.3rem;
}

.structureOpa47 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto 2rem !important;
    width: 100%;
}

.py-2rem {
    padding: 0 2rem !important;
}

.sectionP_Opa47 {
    margin-top: 0;
    padding: 0;
    width: 60%;
    text-align: left;
}

.p1 {
    padding: 1rem;
}

.line_opa47 {
    height: 2px;
    width: auto;
    margin: auto;
    background-color: #17529C;
}

.section_selectOpa47 {
    width: 40%;
}

.lw_latin {
    list-style: lower-latin;
}

@media screen and (max-width: 1199px) {
    .line_opa50 {
        width: 92%;
    }

    .section_lineOpa50 {
        width: 37%;
    }

    .wselect_opa48 {
        width: 35%;
    }

    .layout-participle-form .texto {
        min-height: 130px;
    }

    .min_h_table {
        min-height: 1053px !important;
    }
}

@media screen and (max-width: 991px) {
    .section_lineOpa50 {
        width: 50%;
    }

    .wselect_opa48 {
        width: 50%;
    }

    .min_h_table {
        min-height: 1480px !important;
    }

    .layout-participle-form .texto {
        min-height: 215px;
    }

    .min_head_height {
        min-height: 95px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 767px) {
    .layout-participle-form {     
        margin: 1rem auto;
    }
    .p1 {
        padding: 1rem 0;
    }

    .py-2rem {
        padding: 0 1rem !important;
    }

    .padt-0 {
        padding-top: 0;
    }

    .sectionP_Opa47 {
        width: 100%;
    }

    .structureOpa47 {
        flex-wrap: wrap;
        gap: 0rem;
        margin: 1rem auto !important;
    }

    .section_selectOpa47 {
        width: 100%;
    }

    .line_opa50 {
        width: 60%;
    }

    .paddLeft-2rem {
        padding-left: 1rem;
    }

    .section_lineOpa50 {
        width: 60%;
    }

    .order_opa50 {
        flex-wrap: wrap;
    }

    .line_opa50 {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .wselect_opa48 {
        width: 75%;
    }

    .padd_table {
        padding: 1rem !important;
    }

    /* .select_opa50 {        
        height: 150px;
        min-height: 150px;
    } */
    .padd-1rem {
        padding: 1rem
    }

    .select_opa50 {
        flex-wrap: wrap;
        width: 100%;
    }

    .format_select_opa50 {
        flex-wrap: wrap;
    }

    .Activity_select {
        width: 100%;
        padding: 0 1rem 1rem;
    }

    .form-control {
        font-size: 1.125rem !important;
    }

    .bg-white-eval {
        border: 1px solid #28326F;
    }

    .bg-azul-eval {
        border: 1px solid #28326F;
    }

    .btn {
        font-size: 1.125rem !important;
    }

    .border-right-less {
        border: 1px solid #28326F !important;
    }

    .layout-participle-form .texto {
        padding: 1rem;
    }

    .padd-L_Resp {
        padding-left: 1.5rem;
    }
}

@media screen and (max-width: 530px) {
    .section_lineOpa50 {
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
    }

    .line_opa50 {
        width: 90%;
    }
}

/* 
background: linear-gradient(90deg, #0051a0 0%, #0b1b74 70%);
*/
.btn-descarga {
    background: linear-gradient(90deg, #0051a0 0%, #0b1b74 70%);
    color: #fff;
    margin: 0 0 0 0.5em;
    font-size: 1.3125rem;
    width: 10rem;
    padding: 0.65rem 0.5rem;
    min-height: 0 !important;
    border-radius: 6px;
    /* border: 0.125rem solid; */
}

.btn-descarga:hover {
    background: #fff !important;
    color: #0b1b74 !important;
    border-radius: 6px;
    /* border: 0.125rem solid; */
}

.btn-try:disabled {
    background-color: white;
    color: #6f7995;
    margin: 0 0 0 0.5em;
    font-size: 1.3125rem;
    width: 10rem;
    padding: 0.65rem 0.5rem;
    min-height: 0 !important;
    border-radius: 6px;
    border: 0.125rem solid #6f7995;
}

.botones-evaluacion {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5em;
}

.border_total {
    border-bottom: 2px solid #17529C;
    border-right: 2px solid #17529C;
    border-top: 2px solid #17529C;
    border-left: 2px solid #17529C;
}

@media screen and (max-width: 767px) {
    .botones-evaluacion {
        gap: 1em;
    }

    .azul-claro {
        padding: 1rem;
    }
}


.text-azul-fluor {
    color: #00E5F9;
}

.separadorEsc {
    background: url("../img/150pp/INGLESINT_separador-contenido.png") no-repeat center 0;
    background-size: 80%;
    width: 100%;
    height: 3rem;
}

.separadorMov {
    background: url("../img/150pp/INGLESINT_separador-contenido-r.png") no-repeat 50% 50%;
    background-size: 80%;
    width: 100%;
    height: 3rem;
}

.separadorActividadEsc {
    background: url("../img/150pp/INGLESINT_separador-seccion-actividad.png") no-repeat center 0;
    background-size: 100%;
    width: 100%;
    height: 6rem;
    max-width: 57rem;
    margin: 0 auto;
}

.separadorActividadMov {
    background: url("../img/150pp/INGLESINT_separador-seccion-actividad-r.png") no-repeat 50% 50%;
    background-size: 60%;
    width: 100%;
    height: 3rem;
}


/* Modulo 1 */

.ContenedorTopics {
    background-color: #E7EFF7;
    border-radius: 20px;
    padding: 2rem;
    font-size: 1.3125em;
}

.Topics {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
}

.Topics>div {
    background: url("../img/IB3V-M1-72PP_esquema-globo.png"), url("../img/IB3V-M1_72pp_esquema-linea.png");
    /*background-repeat:no-repeat, no-repeat;*/
    /*background-position: 50% 0, 50% 1.9rem;*/
    text-align: center;
}

.cuaBla {
    width: 90%;
    margin: 0 auto;
    font-weight: 700;
    min-height: 6rem;
    margin-top: 8rem;
    background-color: #fff;
    border-radius: 7px;
    border-top: 3px solid #5E89D6;
    padding: 1rem;
    margin-bottom: 2rem;
}

.cuaAzu {
    width: 100%;
    padding: 0 1rem;
    color: #536E8C;
    font-weight: 700;
}

.Topics div:first-child {
    background-repeat: no-repeat, no-repeat;
    background-position: 50% 0, -300% 1.9rem;
}

.Topics div:nth-child(2),
.Topics div:nth-child(3) {
    background-repeat: no-repeat, repeat-x;
    background-position: 50% 0, 0 1.9rem;
}

.Topics div:last-child {
    background-repeat: no-repeat, no-repeat;
    background-position: 50% 0, 474% 1.9rem;
}


.btn-actividad {
    display: inline-block;
    border-radius: 5px;
    padding: 1rem 1.5rem !important;
    width: 220px !important;
    background: #003470;
    color: #ffffff;
    border: #003470 2px solid;
    line-height: 1.3;
    transition: all 200ms linear;
}

.details-content {
    background: linear-gradient(180deg, #fff 0%, #E7EFF7 50%, #E7EFF7 100%);
    padding: 2rem;
}

::-webkit-scrollbar-thumb {
    border: none !important;
    border-radius: 100vh;
}


details summary.cheqfaq {
    background: linear-gradient(90deg, #0051a0 0%, #0b1b74 70%);
    color: #fff;
    padding: 1rem;
    position: relative;
    width: 100% !important;
    display: inline-block;
    font-weight: bold;
}

details summary.cheqfaq::after {
    position: absolute;
    top: 18%;
    content: "+";
    font-size: 30px;
    right: 1rem;
    font-weight: bold;
}

details[open] summary.cheqfaq::after {
    position: absolute;
    top: 18%;
    content: "x";
    font-size: 1.6rem;
    font-weight: 700;
}

details[open] summary.cheqfaq,
details summary.cheqfaq:hover {
    background: linear-gradient(90deg, #fff 0%, #fff 70%) !important;
    color: #0051a0 !important;
    outline: none !important;
}

.btn-script {
    margin: 0;
}

/* Glosario */
.GLosario {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 1.3125em;
}

.palabra {
    display: grid;
    grid-template-columns: 5rem 1fr;
    margin: 0 1rem;
    border-bottom: 2px solid #0051a0;
}

.palabra>div {
    padding: 1rem 0;
}

.audio {
    background-color: #E7EFF7;
    cursor: pointer;
    text-align: center;
}

.cont_display {
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto {
    text-align: left;
    padding-left: 1rem !important;
    background-color: #fff;
    color: #17529C;
}

.w_column {
    background-color: #0051A0 !important;
}

.GLosario label {
    cursor: pointer;
}

.bocina {
    color: #17529C;
    font-size: 2rem;
    border: none;
}

.GLosario button:focus {
    outline: none;
}



/* Memorama - movil */
.grid-2 {
    width: 89%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: self-end;
}

.grid-1 {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
}

.conTarjetas {
    text-align: center;
}

.cont-img {
    border-radius: 20px;
    margin: 0;
}

.conTarjetas select {
    margin: 0;
    border: 2px solid #17529C;
    border-radius: 5px;
    background-image: url(../img/flecha.png);
    color: #000;
    background-size: 1.3rem;
    height: calc(2em + 0.75rem + 2px);
    padding-right: 2.5rem;
}

.conTarjetas>div {
    margin-top: 1rem;
}

.sImg select {
    background-image: none !important;
}

.memo-nivel {
    border: 1px solid #17529C;
    padding: 0.5rem 0;
    background-color: #fff;
    color: #17529C;
    text-align: center;
    font-weight: 700;
    border-radius: 5px;
    background-size: 1.3rem;
}

.contselopce {
    position: relative;
    display: inline-grid;
    width: 100%;
}

.result {
    position: absolute;
    right: 1.5rem;
    top: calc(50% - 13px);
    width: 23px;
    height: 23px;
    font-size: 1.5rem;
}

.eincorrecto {
    padding: 0.0rem 5rem 0.1rem 3rem;
    margin: 0;
    border: 2px solid #D51F48;
    background-image: none;
    background-repeat: no-repeat;
    background-position: 99% center;
    background-size: 1.8rem;
    border-radius: 5px;
}

.ecorrecto {
    padding: 0.1rem 5rem 0.1rem 3rem;
    margin: 0;
    border: 2px solid #056E31;
    background-image: none;
    background-repeat: no-repeat;
    background-position: 99% center;
    background-size: 1.8rem;
    border-radius: 5px;
}

.TexSel {
    color: #1854AA;
    padding: 0.3rem 0;
    text-align: center;
    background-color: #FFF;
}

.recFacImg .TexSel {
    text-align: left;
    padding: 0.7rem 2rem 0.7rem 1rem;
}

.fa-xmark:before {
    content: "\f00d";
}

.fa-xmark {
    color: #D51F48 !important;
}

.fa-solid {
    font-size: 1.5rem !important;
    /*right: 1.5rem !important; top:0.80rem !important;*/
}

.fa-check {
    color: #056E31 !important;
}

.invisible {
    display: none !important;
}

.retroalimentacion1 {
    text-align: center;
    font-weight: normal;
    margin: 2rem 0 1rem 0;
    min-height: 2.1rem;
    font-weight: bold;
}

.rojoretro {
    color: #D51F48 !important;
}

.verderetro {
    color: #056E31;
}

.negroretro {
    color: #000 !important;
    font-weight: bold;
}

.none {
    display: none;
}

.bc {
    margin-bottom: 2rem !important;
    color: #fff !important;
}

.contselopce .fa-solid {
    right: 0rem !important;
    top: .4rem !important;
}

/* top: .8rem !important; */


/* Topic 1.1 */

.titulo-principal-unit2 {
    color: #17529C;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 37%;
    transform: translate(-50%, -50%);
    font-size: 2.6vw;
    z-index: 100;
    text-align: left;
}

.mb-2rem {
    margin-bottom: 2rem;
}

.m-2rem {
    margin: 2rem 0;
}

.mar2rem {
    margin: 2rem 0 !important;
}

.container_escribir {
    /* background-color: #0051A0; */
    padding: 0 2rem;
}

.recFacImg .conTarjetas select {
    text-align: left !important;
}

.recFacImg .TexSel {
    text-align: left;
    padding: 0.7rem 2.5rem 0.7rem 1rem;
    background: #fff;
}

.recFacImg {
    margin-bottom: 2rem;
}

.textDesc {
    background-color: #E7EFF7;
    padding: 1rem;
    font-size: 1.3rem;
    margin: 0.5rem 10%;
    text-align: left;
}

.recFacImg .conTarjetas img {
    width: 100%;
}

.recFacImg label {
    margin-bottom: 0;
}

.recFacImg {
    text-align: center;
}

.recFacImg .conTarjetas {
    margin: 0 auto;
}

.recFacImg .retroalimentacion1 {
    margin: 0rem 0 1rem 0;
}

.texCenAzu {
    color: #0051a0;
    font-weight: bold;
    text-align: center;
}


/* Faqs */

.ConTab {
    margin-bottom: 2rem;
    text-align: center;
}

.tab1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 1.3rem;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.tab2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: 1.3rem;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.tab3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    font-size: 1.3rem;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.tab4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    font-size: 1.3rem;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.tab1>div,
.tab2>div,
.tab3>div,
.tab4>div {
    border-top: 2px solid #17529C;
    padding: 1rem 0.5rem 1rem 0;
}

.TitTab1 {
    background-color: #E7EFF7;
    color: #0051a0;
    font-weight: bold;
}

.BorBot {
    border-bottom: 2px solid #17529C;
}

.faqs ol,
.faqs ul {
    margin-left: 1.2rem;
    font-size: 1.3rem;
}

.faqs ul {
    margin-bottom: 2rem;
}

.ConTab>div:nth-child(2),
.ConTab>div:nth-child(3),
.ConTab>div:nth-child(4) {
    background-color: #fff;
}

.faqScript {
    width: 70%;
    margin: 0 auto;
}


/*Audio*/

audio {
    height: 54px;
}

.texSen {
    text-align: left;
    border-bottom: 2px solid #17529C;
    padding: 1rem;
    height: 65px;
    width: 555px;
}

/*.seleccionar-1-2{ font-size:1.3rem; }*/

/* Cuadro audio */

.CuadroAudio {
    background-color: #FFEADE;
    padding: 2rem;
    border-radius: 15px;
    margin: 3rem 0 2rem 0;
}

.oculto {
    display: none;
}


/* Actividad - escrirbir 1_1 */

.escribir-1-1,
.escribir-2-2,
.escribir-2-3,
.escribir-2-4 {
    text-align: left;
}

.escribir-1-1 label,
.escribir-2-2 label,
.escribir-2-3 label,
.escribir-2-4 label {
    font-weight: 700;
}

.escribir-1-1 .reactivo,
.escribir-2-2 .reactivo,
.escribir-2-3 .reactivo,
.escribir-2-4 .reactivo {
    min-width: 11rem;
    margin: 0.5rem 0 0.5rem 0;
    display: inline-block;
}

.escribir-1-1 input,
.escribir-2-2 input,
.escribir-2-3 input,
.escribir-2-4 input {
    margin: 0;
    background-color: #EFEFEF;
    border: none;
    border-bottom: 2px solid #17529C;
    width: 100%;
    color: #000;
    padding: 0 1rem;
    background-size: 1.3rem;
    height: calc(1.8em + 0.75rem + 2px);
}

.incorrecto {
    border: 2px solid #D51F48;
    margin: 1rem 0 2rem 0;
    border-radius: 5px;
    padding: 1rem 2rem;
    background-image: none;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: 99% center;
    background-size: 1.8rem;
    position: relative;
    margin: 0;
    padding: 0.2rem 2.5rem 0.2rem 0.5rem;
}

.correcto {
    border: 2px solid #056E31;
    margin: 1rem 0 2rem 0;
    border-radius: 5px;
    background-image: none;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: 99% center;
    background-size: 1.8rem;
    position: relative;
    margin: 0;
    padding: 0.2rem 2.5rem 0.2rem 0.5rem;
}

/* OPA05 */

#escribir-1-2>div {
    display: grid;
    grid-template-columns: 3rem 1fr 1fr 1fr;
    font-size: 1.3rem;
}

#escribir-1-2>div:first-child div:nth-child(+n+2) {
    background-color: #17529C;
    color: #fff;
    text-align: center;
    padding: 0.5rem 0;
}

#escribir-1-2>div:nth-child(+n+2)>div:nth-child(+n+2) {
    border-bottom: #17529C solid 1px;
}

#escribir-1-2>div:nth-child(+n+2)>div:nth-child(+n+2) {
    border-right: #17529C solid 1px;
}

#escribir-1-2>div:nth-child(+n+2)>div:last-child {
    border-right: none;
}

.cirLet {
    display: flex;
    height: 40px;
    margin-top: 0.7rem;
    width: 40px;
    background: #E7EFF7;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    position: relative;
}

.cirLet span {
    position: absolute;
    top: 3px;
    left: 13px;
}

.texPre {
    background-color: #E7EFF7;
    padding: 1rem 1rem;
}

#escribir-1-2 input {
    margin: 01rem;
    border: 0;
    width: 90%;
}

#escribir-1-2 reactivo {
    width: 96% !important;
    margin: 0.5rem 2%;
    display: inline-block;
}

#escribir-1-2 .incorrecto,
#escribir-1-2 .correcto {
    padding: 0.2rem 2.5rem 0.2rem 0.5rem;
    margin: 0.7rem 0.5rem;
}




.tabForm {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 1.3rem;
    border-top: 2px solid #17529C;
}

.tabForm3 {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    font-size: 1.3rem;
    border-top: 2px solid #17529C;
}

.tabForm2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 1.3rem;
    border-top: 2px solid #17529C;
    padding: 0 !important;
    border-right: 0 !important;
}

.tabForm4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: 1.3rem;
    border-top: 2px solid #17529C;
}

.tabForm5 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    font-size: 1.3rem;
    border-top: 2px solid #17529C;
}

.tabForm.tit,
.tabForm4.tit,
.tabForm5.tit {
    background-color: #E7EFF7 !important;
    color: #0051a0;
    font-weight: bold;
    padding: 0 0;
}

.tabForm div,
.tabForm3 div,
.tabForm4 div,
.tabForm5 div {
    padding: 1rem 0;
    background-color: #fff;
    display: grid;
    align-items: center;
}

.tabForm.tit div,
.tabForm4.tit div,
.tabForm5.tit div {
    background-color: #E7EFF7;
    color: #0051a0;
    font-weight: bold;
}

.tabForm>div:nth-child(1),
.tabForm>div:nth-child(2),
.tabForm4>div:nth-child(1),
.tabForm4>div:nth-child(2),
.tabForm4>div:nth-child(3),
.tabForm5>div:nth-child(1),
.tabForm5>div:nth-child(2),
.tabForm5>div:nth-child(3),
.tabForm5>div:nth-child(4) {
    border-right: 2px solid #17529C;
}

.tabForm>div div:nth-child(2),
.tabForm4>div div:nth-child(2),
.tabForm5>div div:nth-child(2) {
    border-top: 2px solid #17529C;
}

.tabForm3 div {
    border-right: 2px solid #17529C;
}

.tabForm3 div:last-child {
    border-right: 0
}

.tabForm3>div {
    padding: 0;
}


.uf {
    border-bottom: 2px solid #17529C;
}

.cc {
    padding: 0 !important;
}

.colorr-1 {
    color: #C93F8A
}

.colorr-2 {
    color: #605ED3
}

.colorr-3 {
    color: #17529C
}

.Grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    max-width: 64rem;
    /* max-width: 100%; */
    margin: 2rem auto;
}

.Grid2>div {
    background-color: #E7EFF7;
    display: grid;
    align-items: normal;
}

/*.Grid2 span{ margin:1rem 0 0; display:block; }*/
img.imgCuadro {
    width: 100%;
    max-width: 24rem;
    margin: 0 auto 1rem;
}

.recTex {
    border: 2px solid #7295C2;
    padding: 2rem;
    background-color: #fff;
    align-items: center;
    min-height: 6rem;
    margin-bottom: 2rem
}

.c1 {
    min-height: 24.5rem;
    align-items: normal;
    padding: 2rem
}

.br {
    border-radius: 5px;
    padding: 2rem;
}

.recTex strong {
    display: inline-block;
}

.texAzu {
    color: #0051a0;
    font-weight: bold;
}

.img-94 {
    max-width: 94%;
    margin-bottom: 2rem !important;
}

.img-central {
    max-width: 39%;
    margin-bottom: 2rem !important;
}

.grid-3 {
    display: grid;
    grid-template-columns: 0.5rem 1fr 1fr;
}

.texInc {
    background: #fff;
    margin: 0 auto 1rem;
    border-radius: 0 0 1rem 1rem;
    width: 6rem;
    text-align: center;
}

.ultimo-c2 {
    width: 50%;
    margin: 0 auto 2rem;
    background: #E7EFF7;
}

/*.seleccionar-2-2{ font-size:1.3rem; }*/

.btn-information {
    background: linear-gradient(90deg, #0051a0 0%, #0b1b74 70%);
    color: #FFFFFF;
    padding: 1em;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    font-size: 1.3125em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 4px;
    left: 4px;
    z-index: 2000;
}

.w-200 {
    width: 200px !important;
    height: 56px !important;
}

.w-500 {
    min-width: 200px !important;
    width: 250px !important;
}

.seccion_opa50 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.displ {
    display: flex !important;
}

.disp-in {
    display: flex !important;
}


@media screen and (max-width: 1199px) {
    .Topics div:first-child {
        background-position: center 0, 8rem 1.9rem;
    }

    .Topics div:last-child {
        background-position: center 0, -8rem 1.9rem;
    }

    .palabra {
        grid-template-columns: 4rem 1fr;
    }

    .textDesc {
        margin: 0.5rem 2%;
    }

    .contselopce {
        width: 100%;
    }

    /*.recFacImg .conTarjetas select { margin: 0 0%; width: 96%; }*/
    .c1 {
        min-height: 21.5rem;
    }
}

@media screen and (max-width:991px) {
    .texSen {
        height: 125px;
        width: auto;
    }

    .Topics div:last-child {
        background-position: center 0, -11rem 1.9rem;
    }

    .cuaBla {
        min-height: 8.1rem;
    }

    .GLosario {
        grid-template-columns: 1fr 1fr;
    }

    img.imgCuadro {
        max-width: 18rem;
        margin: 1rem auto;
    }

    /*
    
}

@media screen and (max-width:991px){*/
    .ContenedorTopics {
        padding: 1rem;
        font-size: 1.125rem;
    }

    .tab1,
    .tab2 {
        width: 100%;
    }

    .cont-img {
        margin: 0 4% 0 4%;
        padding: 0rem;
    }

    .textDesc {
        margin: 0.5rem 4%;
    }

    /*.conTarjetas select { margin: 0 4%; width: 92%; }*/
    .grid-2 {
        width: 100%;
    }

    /*.recFacImg .conTarjetas select { width: 92%; }*/

    .Grid2 {
        display: block;
    }

    .Grid2>div {
        margin-bottom: 2rem;
    }

    .c1 {
        min-height: auto;
    }

    .recTex {
        min-height: auto;
    }

    .ultimo-c2 {
        width: 100%;
    }

}

@media screen and (max-width:767px) {
    .seleccionar_opa46 select {
        height: calc(2em + 0.1rem + 2px) !important;
    }

    .seleccionarOpa-47 select {
        height: calc(2em + 0.0rem + 2px) !important;
    }

    .seleccionar-opa48 select {
        height: calc(2em + 0.0rem + 2px) !important;
    }

    .seleccionarOpa49 select {
        height: calc(2em + 0.1rem + 2px) !important;
    }

    .seleccionarOpa50_2 select {
        height: calc(2em + 0.1rem + 2px) !important;
    }

    .w-200 {
        width: 150px;
    }

    .GLosario {
        grid-template-columns: 1fr;
        font-size: 1.125em;
    }

    .audio {
        text-align: center;
    }

    .bocina {
        font-size: 1.5rem;
    }

    .palabra>div {
        padding: 0.5rem 0;
    }

    .t1 {
        left: 36% !important;
    }

    .t2 {
        left: 17% !important
    }

    .t3 {
        left: 37% !important
    }

    .btn-90p {
        width: 80%;
    }

    .grid-2 {
        display: grid;
        grid-template-columns: 1fr;
    }

    /*.TexSel, .retroalimentacion1, .memo-nivel, .seleccionar-1-2, .textDesc, .incorrecto, .correcto, #escribir-1-2>div, .seleccionar-2-2 { font-size: 1.125em !important; }*/
    .fa-solid {
        top: 0.5rem !important;
    }

    .bc {
        margin-bottom: 1rem !important;
    }

    .conTarjetas select {
        border: 2px solid #17529C;
        height: calc(2em + 0.75rem + 2px);
    }

    .mb-2rem {
        margin-bottom: 1rem;
    }

    .m-2rem {
        margin: 1rem 0;
    }

    .mar2rem {
        margin: 1rem 0 !important;
    }


    .recFacImg .cont-img {
        margin: 0 2% 0.5rem 2%;
    }

    .recFacImg .conTarjetas select {
        margin: 0 2%;
        width: 96%;
    }

    .recFacImg .TexSel {
        text-align: left;
        padding: .4rem 2.5rem .4rem 0.5rem;
        margin: 0;
    }

    .recFacImg .contselopce {
        width: 100%;
    }

    /*.recFacImg .fa-solid { top: 0.5rem !important; }*/
    .recFacImg {
        margin-bottom: 2rem;
    }

    .ConTab {
        margin-bottom: 1rem;
    }

    /* .texSen {
        padding: 1rem 0;
    } */

    .retroalimentacion1 {
        margin: 0rem 0 1rem 0;
    }

    .CuadroAudio {
        padding: 1rem;
        margin: 1rem 0;
    }

    .recFacImg .textDesc {
        margin: 0.5rem 2%;
    }

    .titulo-principal-unit2 {
        left: 36.5% !important;
        font-size: 6vw !important;
    }

    .escritorio {
        display: none !important;
    }

    .escribir-1-2>div {
        display: block;
    }

    #escribir-1-2>div {
        display: block;
    }

    .encMov {
        background-color: #17529C;
        color: #fff;
        text-align: center;
        padding: 0.5rem 0;
    }

    .cirLet {
        background: #17529C;
        color: #fff;
        margin-bottom: 1rem;
    }

    .cirLet span {
        top: 5px;
        left: 14px;
    }

    #escribir-1-2>div:nth-child(+n+2)>div:nth-child(+n+2) {
        border-right: none;
    }

    /*#escribir-1-2 div{ border-right:none !important; }*/
    /*#escribir-1-2>div:last-child { padding-bottom:10rem !important; }*/
    .texto-tema-margen {
        margin-left: 0em !important;
    }

    .Grid2>div {
        margin-bottom: 1rem;
    }

    .c1 {
        min-height: auto;
    }

    /*.imgCuadro {  margin: 1rem auto !important; width: 89%; }*/
    /*.Grid2 span { margin: 0 1rem; display: block; }*/
    .recTex {
        min-height: auto;
        margin: 0 0 1rem;
        padding: 1rem
    }

    .img-94 {
        max-width: 100%;
        margin-bottom: 1rem !important;
    }

    .grid-3 {
        display: block;
    }

    .texSen {
        margin-bottom: 1rem !important;
        padding: 0 1rem 0;

    }

    .container_choose {
        position: relative;
    }

    .grid-2 {
        gap: 1rem;
    }

    .select_choose {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        /* background-color: #dc3545; */
        height: 38px;
    }

    .conTarjetas>div {
        margin-top: 0rem;
    }

    /*.grid-3 select{ font-size:1.0325rem; }*/
    .br {
        padding: 1rem;
    }

    select,
    input {
        font-size: 1.125rem !important;
    }

    .ultimo-c2 {
        margin-bottom: 1rem;
    }

    .Grid2 {
        margin: 0 auto;
    }

    .texInc {
        margin-bottom: 0;
    }

    .form-check .fa-solid {
        top: -.2rem;
    }

    .color_black {
        color: #000;
    }
}

@media screen and (max-width: 500px) {
    .grid-2 {
        gap: 3rem;
    }

    .texSen {
        height: 150px;
    }
}


button:disabled {
    background-color: white !important;
    color: #000;
    border-radius: 6px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    width: 10rem;
    padding: 0.65rem 0.5rem !important;
    min-height: 0 !important;
    margin: 0 0 0 0em;
    border: #D3D3D3 solid 2px;
    font-weight: 700;
    /*opacity: 1 !important;*/
}

.fondo-div-azul {
    background: #E7EFF7;
}

.fondo-div-azul-2 {
    background: url("../../Topic-3_1/img/IB3V-M3_llave.png") no-repeat 47% center #E7EFF7;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
    background-size: auto 6rem;
    min-height: 9rem
}

.fondo-div-azul-2 div {
    display: flex;
    align-items: center;
}

.fondo-div-azul-2 p {
    margin-bottom: 0;
}

.borde-az {
    border: 1px solid #05398C;
    padding: .2rem .3rem .5rem;
    margin-right: .5rem;
}

.subtitulos span {
    display: block;
}

.fondo-blanco-borde {
    background: #fff;
    border-bottom: 1px solid #05398C;
    padding: 2rem;
    max-width: 40rem;
}

.actividades-opciones {
    margin: 2rem 0;
}

.actividades-opciones p {
    background: #fff;
    border-radius: 2rem;
    border: 1px solid #05398C;
    padding: .5rem 1rem;
    width: 6rem;
    display: inline-block;
    margin-right: 1rem;
    text-align: center;
}

/* checkbutton**/
/*.form-check{ padding-left:0; }*/
.form-check-input {
    position: absolute;
    width: 24px;
    height: 24px;
    right: 0;
    top: 0;
    margin-bottom: 0;
    z-index: 1;
}


input.form-check-input[type='checkbox']::before {
    content: "";
    display: inline-block;
    box-sizing: border-box;
}

input.form-check-input[type='checkbox']:checked::before {
    width: 100%;
    height: 100%;
    background: #007bff;
}


.fondo-claro-rosa .form-check,
.fondo-claro-azul .form-check {
    margin-bottom: 1rem;
}

.caja {
    padding: 2rem;
    margin: 2rem 0
}

.fondo-claro-azul {
    background: #E7EFF7;
    max-width: 27rem;
    text-align: left;
    margin: 2rem auto;
}

.fondo-claro-rosa {
    background: #F9E4F3;
    max-width: 27rem;
    text-align: left;
    margin: 2rem auto;
}

input.escribir {
    margin: 0;
    background-color: #EFEFEF;
    border: none !important;
    border-bottom: 2px solid #17529C !important;
    color: #000;
    padding: 0 1rem;
    background-size: 1.3rem;
    height: calc(1.8em + 0.75rem + 2px);
}

.fondo-inciso-azul {
    background: #E7EFF7;
    color: #0051a0;
    text-align: center;
    max-width: 6rem;
    font-weight: bold;
    padding: .3rem 0;
}

.form-check-label .text-azul {
    margin-right: 1rem;
}

.reactivo16 .incorrecto,
.reactivo16 .correcto {
    padding: 0.5rem 2.5rem 0.5rem 0.5rem;
    margin-right: .5rem;
}

.fa-solid {
    padding: 0.5rem 2.5rem 0.5rem 0.5rem;
    right: -.5rem !important;
    top: 0 !important;
}

.padd_2rem {
    padding-left: 1.5rem;
}

#btn_checkopa46 {
    display: block;
}

#btn_checkopa48 {
    display: block;
}

.disp-flex {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}

@media screen and (max-width:1199px) {
    .fondo-div-azul-2 {
        /*background: url("../../Topic-3_1/img/IB3V-M3_llave.png") no-repeat 45% center #E7EFF7;*/
        background-position: 50% center
    }
}

@media screen and (max-width:767px) {
    .disp-flex {
        gap: 1rem;
    }

    .fondo-div-azul {
        margin-bottom: 1rem;
        padding: 1rem
    }

    .fondo-div-azul-2 {
        background: #E7EFF7;
        grid-template-columns: 1fr
    }

    .fondo-blanco-borde {
        padding: 1rem;
    }

    .actividades-opciones p {
        margin-top: 1rem;
    }

    .actividades-opciones {
        margin: 1rem 0;
    }

    .fondo-claro-azul {
        margin: 1rem auto;
    }

    .caja {
        margin: 1rem auto;
        padding: 1rem
    }

    .fondo-claro-rosa .form-check,
    .fondo-claro-azul .form-check {
        padding-left: .5rem;
        padding-right: 2rem
    }

    .c1 {
        padding: 0 1rem 1rem;
    }
}